/* Предполагается, что ваш корневой компонент называется App */
.App {
  width: 470px;
  height: 250px;
  overflow-x: auto;
}

.container {
  max-height: 300px;
  overflow-y: auto;
}

#scrollbar-wrapper
{
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.scrollbar
{
	height: 300px;
	width: 30px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin: 25px;
}

.force-overflow
{
	min-height: 450px;
}

#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}