/*.tooltip {*/
/*  background-color: black;*/
/*  color: #fff;*/
/*  text-align: center;*/
/*  padding: 5px 0;*/
/*  border-radius: 6px;*/

/*  !* Position the tooltip text - see examples below! *!*/
/*  position: absolute;*/
/*}*/

/*.polygons_view {*/
/*	height: 360px;*/
/*	width: 900px;*/
/*	margin: 0 auto;*/
/*	position: relative;*/
/*}*/

.polygons_view svg {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 849px;
	width: 1200px;
}

/*.polygons_view polygon {*/
/*	fill: #ADD8E6;*/
/*	stroke: #4682B4;*/
/*	cursor: pointer;*/
/*}*/

/*.polygons_view pngImage {*/
/*	fill: #ADD8E6;*/
/*}*/


.isHall {
	/*fill: #caf0f8 !important;*/
	/*stroke: #caf0f8;*/
	fill: #e2eafc !important;
	stroke: #c1d3fe;
}

.isAud {
	fill: #ADD8E6 !important;
	stroke: #4682B4;
	cursor: pointer;
}

.isSelectedAud {
	fill: rgb(21, 60, 117) !important;
}

.isSelectedHall {
	fill: #4682B4 !important;
}


